<!DOCTYPE html>
<html>

<head>
  <title>Chess by Huong</title>

  <!-- Bootstrap core CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- MD BOOTSTRAP PRO -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>

  
  <!-- My CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <div class="game-title">
      <h1 class="chessgame">chess game</h1>
      <h4 class="byhuong">by Huong</h4>
    </div>
    <div class="register">
      <!-- Material input -->
      <div class="md-form">
        <input placeholder="What's your coolest username?" type="text" id="register-input" class="form-control">
      </div>
      <div class="regis-notice">
      </div>
      <div class="start-game-btn">
        <!-- <button type="button" class="btn btn-outline-success btn-rounded waves-effect" id="register-btn">Start
          game</button> -->
        <h5 class="pressenter">Press Enter to start</h5>
      </div>
    </div>
  </div>
  <div class="game-room row">
    <div class="chat-area col-xl-3 col-lg-3 col-md-12 ">
      <div class="chat-header">
        <h5>Online players</h5>
      </div>
      <div class="chat--onlineMembers">
        <div class="row needpadding">
          <div class="col-4">
            <img class="chat--sayhi" src="https://cdn141.picsart.com/260792876014212.png?r1024x1024" alt="sayhi">
          </div>
          <div class="col-5">
            <p>Hi, <span class="chat--username"></span></p>
            <p>Enjoy!</p>
          </div>
          <div class="col-3">
            <i class="fas fa-sign-out-alt sign-out-btn"></i>
          </div>
        </div>
        <div class="chat--list-title">
          <h6>Choose your challenger:</h6>
        </div>
        <div class="challengers">
        </div>
      </div>
      <!-- End of chat--onlineMembers -->
      <div class="blankdiv"></div>
      <div class="chat--chatbox">
        <div class="chat--msg">
          <div class="chat--msg-line"></div>
        </div>
        <div class="chat--inputmsg">
          <input id="chat--input" class="form-control form-control-lg msg" type="text" placeholder="Type your message">
        </div>
      </div>
    </div>
    <!-- CHESS BOARD -->
    <div class="game-area col-xl-7 col-lg-7 col-md-12">
      <div class="chess--board">
        <div id="0" class="square ui-widget-content black--square droppable" data-x="0" data-y="0" data-point="0,0">
          <div id="black-castle-left" class="chess--piece">
            <img src="./images/black-castle-left.svg">
          </div>
        </div>
        <div id="1" class="square ui-widget-content white--square" data-x="0" data-y="1" data-point="0,1">
          <div id="black-knight-left" class="chess--piece">
            <img src="./images/black-knight-left.svg">
          </div>
        </div>
        <div id="2" class="square ui-widget-content black--square" data-x="0" data-y="2" data-point="0,2">
          <div id="black-bishop-left" class="chess--piece">
            <img src="./images/black-bishop-left.svg">
          </div>
        </div>
        <div id="3" class="square ui-widget-content white--square" data-x="0" data-y="3" data-point="0,3">
          <div id="black-queen" class="chess--piece">
            <img src="./images/black-queen.svg">
          </div>
        </div>
        <div id="4" class="square ui-widget-content black--square" data-x="0" data-y="4" data-point="0,4">
          <div id="black-king" class="chess--piece">
            <img src="./images/black-king.svg">
          </div>
        </div>
        <div id="5" class="square ui-widget-content white--square" data-x="0" data-y="5" data-point="0,5">
          <div id="black-bishop-right" class="chess--piece">
            <img src="./images/black-bishop-right.svg">
          </div>
        </div>
        <div id="6" class="square ui-widget-content black--square" data-x="0" data-y="6" data-point="0,6">
          <div id="black-knight-right" class="chess--piece">
            <img src="./images/black-knight-right.svg">
          </div>
        </div>
        <div id="7" class="square ui-widget-content white--square" data-x="0" data-y="7" data-point="0,7">
          <div id="black-castle-right" class="chess--piece">
            <img src="./images/black-castle-right.svg">
          </div>
        </div>
        <div id="8" class="square ui-widget-content white--square" data-x="1" data-y="0" data-point="1,0">
          <div id="black-pawn-1" class="chess--piece">
            <img src="./images/black-pawn-1.svg">
          </div>
        </div>
        <div id="9" class="square ui-widget-content black--square" data-x="1" data-y="1" data-point="1,1">
          <div id="black-pawn-2" class="chess--piece">
            <img src="./images/black-pawn-1.svg">
          </div>
        </div>
        <div id="10" class="square ui-widget-content white--square" data-x="1" data-y="2" data-point="1,2">
          <div id="black-pawn-3" class="chess--piece">
            <img src="./images/black-pawn-1.svg">
          </div>
        </div>
        <div id="11" class="square ui-widget-content black--square" data-x="1" data-y="3" data-point="1,3">
          <div id="black-pawn-4" class="chess--piece">
            <img src="./images/black-pawn-1.svg">
          </div>
        </div>
        <div id="12" class="square ui-widget-content white--square" data-x="1" data-y="4" data-point="1,4">
          <div id="black-pawn-5" class="chess--piece">
            <img src="./images/black-pawn-1.svg">
          </div>
        </div>
        <div id="13" class="square ui-widget-content black--square" data-x="1" data-y="5" data-point="1,5">
          <div id="black-pawn-6" class="chess--piece">
            <img src="./images/black-pawn-1.svg">
          </div>
        </div>
        <div id="14" class="square ui-widget-content white--square" data-x="1" data-y="6" data-point="1,6">
          <div id="black-pawn-7" class="chess--piece">
            <img src="./images/black-pawn-1.svg">
          </div>
        </div>
        <div id="15" class="square ui-widget-content black--square" data-x="1" data-y="7" data-point="1,7">
          <div id="black-pawn-8" class="chess--piece">
            <img src="./images/black-pawn-1.svg">
          </div>
        </div>
        <div id="16" class="square ui-widget-content black--square" data-x="2" data-y="0" data-point="2,0">
        </div>
        <div id="17" class="square ui-widget-content white--square" data-x="2" data-y="1" data-point="2,1">
        </div>
        <div id="18" class="square ui-widget-content black--square" data-x="2" data-y="2" data-point="2,2">
        </div>
        <div id="19" class="square ui-widget-content white--square" data-x="2" data-y="3" data-point="2,3">
        </div>
        <div id="20" class="square ui-widget-content black--square" data-x="2" data-y="4" data-point="2,4">
        </div>
        <div id="21" class="square ui-widget-content white--square" data-x="2" data-y="5" data-point="2,5">
        </div>
        <div id="22" class="square ui-widget-content black--square" data-x="2" data-y="6" data-point="2,6">
        </div>
        <div id="23" class="square ui-widget-content white--square" data-x="2" data-y="7" data-point="2,7">
        </div>
        <div id="24" class="square ui-widget-content white--square" data-x="3" data-y="0" data-point="3,0">
        </div>
        <div id="25" class="square ui-widget-content black--square" data-x="3" data-y="1" data-point="3,1">
        </div>
        <div id="26" class="square ui-widget-content white--square" data-x="3" data-y="2" data-point="3,2">
        </div>
        <div id="27" class="square ui-widget-content black--square" data-x="3" data-y="3" data-point="3,3">
        </div>
        <div id="28" class="square ui-widget-content white--square" data-x="3" data-y="4" data-point="3,4">
        </div>
        <div id="29" class="square ui-widget-content black--square" data-x="3" data-y="5" data-point="3,5">
        </div>
        <div id="30" class="square ui-widget-content white--square" data-x="3" data-y="6" data-point="3,6">
        </div>
        <div id="31" class="square ui-widget-content black--square" data-x="3" data-y="7" data-point="3,7">
        </div>
        <div id="32" class="square ui-widget-content black--square" data-x="4" data-y="0" data-point="4,0">
        </div>
        <div id="33" class="square ui-widget-content white--square" data-x="4" data-y="1" data-point="4,1">
        </div>
        <div id="34" class="square ui-widget-content black--square" data-x="4" data-y="2" data-point="4,2">
        </div>
        <div id="35" class="square ui-widget-content white--square" data-x="4" data-y="3" data-point="4,3">
        </div>
        <div id="36" class="square ui-widget-content black--square" data-x="4" data-y="4" data-point="4,4">
        </div>
        <div id="37" class="square ui-widget-content white--square" data-x="4" data-y="5" data-point="4,5">
        </div>
        <div id="38" class="square ui-widget-content black--square" data-x="4" data-y="6" data-point="4,6">
        </div>
        <div id="39" class="square ui-widget-content white--square" data-x="4" data-y="7" data-point="4,7">
        </div>
        <div id="24" class="square ui-widget-content white--square" data-x="5" data-y="0" data-point="5,0">
        </div>
        <div id="25" class="square ui-widget-content black--square" data-x="5" data-y="1" data-point="5,1">
        </div>
        <div id="26" class="square ui-widget-content white--square" data-x="5" data-y="2" data-point="5,2">
        </div>
        <div id="27" class="square ui-widget-content black--square" data-x="5" data-y="3" data-point="5,3">
        </div>
        <div id="28" class="square ui-widget-content white--square" data-x="5" data-y="4" data-point="5,4">
        </div>
        <div id="29" class="square ui-widget-content black--square" data-x="5" data-y="5" data-point="5,5">
        </div>
        <div id="30" class="square ui-widget-content white--square" data-x="5" data-y="6" data-point="5,6">
        </div>
        <div id="31" class="square ui-widget-content black--square" data-x="5" data-y="7" data-point="5,7">
        </div>
        <div id="32" class="square ui-widget-content black--square" data-x="6" data-y="0" data-point="6,0">
          <div id="white-pawn-1" class="chess--piece">
            <img src="./images/white-pawn-1.svg">
          </div>
        </div>
        <div id="33" class="square ui-widget-content white--square" data-x="6" data-y="1" data-point="6,1">
          <div id="white-pawn-2" class="chess--piece">
            <img src="./images/white-pawn-1.svg">
          </div>
        </div>
        <div id="34" class="square ui-widget-content black--square" data-x="6" data-y="2" data-point="6,2">
          <div id="white-pawn-3" class="chess--piece">
            <img src="./images/white-pawn-1.svg">
          </div>
        </div>
        <div id="35" class="square ui-widget-content white--square" data-x="6" data-y="3" data-point="6,3">
          <div id="white-pawn-4" class="chess--piece">
            <img src="./images/white-pawn-1.svg">
          </div>
        </div>
        <div id="36" class="square ui-widget-content black--square" data-x="6" data-y="4" data-point="6,4">
          <div id="white-pawn-5" class="chess--piece">
            <img src="./images/white-pawn-1.svg">
          </div>
        </div>
        <div id="37" class="square ui-widget-content white--square" data-x="6" data-y="5" data-point="6,5">
          <div id="white-pawn-6" class="chess--piece">
            <img src="./images/white-pawn-1.svg">
          </div>
        </div>
        <div id="38" class="square ui-widget-content black--square" data-x="6" data-y="6" data-point="6,6">
          <div id="white-pawn-7" class="chess--piece">
            <img src="./images/white-pawn-1.svg">
          </div>
        </div>
        <div id="39" class="square ui-widget-content white--square" data-x="6" data-y="7" data-point="6,7">
          <div id="white-pawn-8" class="chess--piece">
            <img src="./images/white-pawn-1.svg">
          </div>
        </div>
        <div id="40" class="square ui-widget-content white--square" data-x="7" data-y="0" data-point="7,0">
          <div id="white-castle-left" class="chess--piece">
            <img src="./images/white-castle-left.svg">
          </div>
        </div>
        <div id="41" class="square ui-widget-content black--square" data-x="7" data-y="1" data-point="7,1">
          <div id="white-knight-left" class="chess--piece">
            <img src="./images/white-knight-left.svg">
          </div>
        </div>
        <div id="42" class="square ui-widget-content white--square" data-x="7" data-y="2" data-point="7,2">
          <div id="white-bishop-left" class="chess--piece">
            <img src="./images/white-bishop-left.svg">
          </div>
        </div>
        <div id="43" class="square ui-widget-content black--square" data-x="7" data-y="3" data-point="7,3">
          <div id="white-queen" class="chess--piece">
            <img src="./images/white-queen.svg">
          </div>
        </div>
        <div id="44" class="square ui-widget-content white--square" data-x="7" data-y="4" data-point="7,4">
          <div id="white-king" class="chess--piece">
            <img src="./images/white-king.svg">
          </div>
        </div>
        <div id="45" class="square ui-widget-content black--square" data-x="7" data-y="5" data-point="7,5">
          <div id="white-bishop-right" class="chess--piece">
            <img src="./images/white-bishop-right.svg">
          </div>
        </div>
        <div id="46" class="square ui-widget-content white--square" data-x="7" data-y="6" data-point="7,6">
          <div id="white-knight-right" class="chess--piece">
            <img src="./images/white-knight-right.svg">
          </div>
        </div>
        <div id="47" class="square ui-widget-content black--square" data-x="7" data-y="7" data-point="7,7">
          <div id="white-castle-right" class="chess--piece">
            <img src="./images/white-castle-right.svg">
          </div>
        </div>
      </div>
      <!-- End of chess--board -->

    </div>
  </div>


  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
  <!-- Socketio -->
  <script src="http://localhost:5000/socket.io/socket.io.js"></script>
  <!-- Jquery UI -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <!-- My JS -->
  <script src="/javascripts/all.js"></script>

</body>

</html>