<!DOCTYPE html>
<html>

<head>
  <title>My first attemp to Socket.io</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Learn to socket.io</h1>
  <p>Some few text to keep you hangin ...</p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://localhost:5000/socket.io/socket.io.js"></script>
  <script src="/javascripts/all.js"></script>

</body>

</html>