<!DOCTYPE html>
<html>

<head>
  <title>Chess by Huong</title>

  <!-- Bootstrap core CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- MD BOOTSTRAP PRO -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>

  <!-- My CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/chessboard-0.3.0.min.css' />
</head>

<body>
  <div class="container">
    <div class="game-title">
      <h1 class="chessgame">chess game</h1>
      <h4 class="byhuong">by Huong</h4>
    </div>
    <div class="register">
      <!-- Material input -->
      <div class="md-form">
        <input placeholder="What's your coolest username?" type="text" id="register-input" class="form-control">
      </div>
      <div class="regis-notice">
      </div>
      <div class="start-game-btn">
        <!-- <button type="button" class="btn btn-outline-success btn-rounded waves-effect" id="register-btn">Start
          game</button> -->
        <h5 class="pressenter">Press Enter to start</h5>
      </div>
    </div>
  </div>
  <div class="game-room row">
    <div class="chat-area col-xl-3 col-lg-3 col-md-12 ">
      <div class="chat-header">
        <h5>Online players</h5>
      </div>
      <div class="chat--onlineMembers">
        <div class="row needpadding">
          <div class="col-4">
            <img class="chat--sayhi" src="https://cdn141.picsart.com/260792876014212.png?r1024x1024" alt="sayhi">
          </div>
          <div class="col-5">
            <p>Hi, <span class="chat--username"></span></p>
            <p>Enjoy!<span class="chat--id" style="display:none;"></span></p>
          </div>
          <div class="col-3">
            <i class="fas fa-sign-out-alt sign-out-btn"></i>
          </div>
        </div>
        <div class="chat--list-title">
          <h6>Choose your challenger:</h6>
        </div>
        <div class="challengers">
        </div>
      </div>
      <!-- End of chat--onlineMembers -->
      <div class="blankdiv"></div>
      <div class="chat--chatbox">
        <div class="chat--msg">
          <div class="chat--msg-line"></div>
        </div>
        <div class="chat--inputmsg">
          <input id="chat--input" class="form-control form-control-lg msg" type="text" placeholder="Type your message">
        </div>
      </div>
    </div>
    <!-- CHESS BOARD -->
    <div class="game-area col-xl-7 col-lg-7 col-md-12">
      <div id="board" style="width: 500px;margin-top: 2rem;"></div>
      <!-- End of chess--board -->
    </div>
    <!-- Challenge MODAL -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Challenge</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success challenge--accept-btn">Accept</button>
            <button type="button" class="btn btn-light" data-dismiss="modal">Decline</button>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
  <!-- Socketio -->
  <script src="http://localhost:5000/socket.io/socket.io.js"></script>
  <!-- Jquery UI -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <!-- My JS -->
  <script src="/javascripts/all.js"></script>
  <!-- CHESSBOARD Js -->
  <script src="/javascripts/chessboard-0.3.0.js"></script>
  <script src="/javascripts/chess.js"></script>
  <script src="/javascripts/chessscript.js"></script>
</body>

</html>