<!DOCTYPE html>
<html>

<head>
  <title>Huong's first chat app by Socket.io</title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!-- MD BOOTSTRAP PRO -->
  <link rel="stylesheet" href="https://namboss.blob.core.windows.net/huong/mdb.css">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <!-- My CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="index">
  <!-- Background -->
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <div id='title'>
    <span>
      Hey you~
    </span>
    <br>
    <span>
      Welcome to Huong's first chat app by Socket.io
    </span>
    <div id="loginform">
      <h4>Type your username:</h4>
      <div class="md-form">
        <input type="text" id="txtUsername" class="form-control">
        <label for="txtUsername">Your username</label>
        <div class="all-noti"></div>
        <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect" id="register-chat1"><a href="/users/chat1">Register
            (Chat1)</a></button>
        <button type="button" class="btn btn-outline-primary btn-rounded waves-effect" id="register-chat2">Register
            (Chat2)</button>
      </div>
    </div>
  </div>
</div>
<!-- End of index -->
<div class="container" id="chatform">
    <div class="row" id="leftbox">
        <div class="col-4">
            <div id="leftbox-title">
                <h5>Users online</h5>
            </div>
            <div id="leftbox-content">
            </div>
        </div>


        <div class="col-8" id="rightbox">
            <div id="sayHi">
                Hello <span id="currentUser">User A</span>
                <button type="button" class="btn btn-outline-info btn-rounded waves-effect" id="btnLogout">Logout</button>
            </div>
            <div id="listMessages">
            </div>
            <div class="row">
                <div class="col-9">
                    <input type="text" id="txtMessage" />
                </div>
                <div class="col-3">
                    <button class="btn aqua-gradient btn-rounded" id="btnSendMessage" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- Basic jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- MD BOOTSTRAP JS -->
  <script type="text/javascript" src="https://namboss.blob.core.windows.net/huong/mdb.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- For background -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <!-- Connect Socket.io -->
  <script src="http://localhost:8000/socket.io/socket.io.js"></script>
  <!-- My JS -->
  <script src="/javascripts/all.js"></script>
</body>

</html>