*, body, .container-fluid {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
.container {
    padding-top: 3rem;
    width: unset !important;
    margin: 0 30px;
}
.container-content {
    padding-top: 2rem;
}
.dongtinhgia .phai {
    float: right;
}
.thanhtien .phaii {
    float: right;
}
.phaii p {
    font-size: 1.5rem;
    color: #ed0707;
    text-align: right;
    margin-bottom: 0 !important;
}
.giohang-title {
    padding: 2rem 15px 0 15px;
}
.traii {
    padding-top: 1rem;
}
.dathang {
    margin-top: 2rem;
    width: 100%;
}
.dathang p {
    margin-bottom: 0 !important;
}
.baogom p {
    color: unset;
    font-size: 0.9rem;
}
.anh-sanpham img {
    width: 100%;
    cursor: pointer;
}
.xoa, .dedanh {
    display: inline-block;
    font-size: 0.9rem;
}
.dedanh a {
    padding-left: 2rem;
}
.cungcap-sanpham {
    padding-top: 1rem;
    font-size: 0.9rem;
}
.mota-title {
    font-weight: bold;
}
.mota-title a {
    color: unset;
}
.mota-title a:hover {
    color:#014c8c;
}
.gia1, .gia2, .gia3 {
    margin-bottom: 0 !important;
}
.gia1 {
    font-weight: bold;
}
.gia2 {
    text-decoration: line-through;
    color: gray;
    font-size: 0.8rem;
}
.gia3 {
    background-color: orange;
    color: #ffff;
    width: 50%;
    text-align: center;
    border-radius: 3px;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.input-group {
    display: flex;
}
.dongthu2 {
    padding: 2rem 0;
}
.sanphamkhac-title {
    padding: 2rem 0;
}
.card-price {
    display: flex;
}
.card-img {
    border-radius: calc(.25rem - 1px);
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.card-img img {
    width: 50%;
}
.card-title {
    padding-top: 1rem;
}
.card-title a {
    font-size: 0.9rem;
    color: unset;
    padding-top: 0.5rem;
}
.card-price p {
    font-size: 0.9rem;
}
.card-price p:first-child {
    padding-right: 0.2rem;
}
.card-price p:nth-child(2) {
    font-size: 0.8rem;
    color: gray;
    text-decoration: line-through;
    padding-right: 0.2rem;
}
.card-price p:last-child {
    font-size: 0.8rem;
    color: #ed0707;
}
.card {
    border: none !important;
    cursor: pointer;
}
.card:hover {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.card-buy {
    text-align: center;
    padding-top: 1rem;
}
.btn.btn-primary.muangay {
    font-size: 0.9rem;
    background-color: transparent !important;
    color: #0275d8;
}
.btn.btn-primary.muangay:hover {
    color: #ffff !important;
    background-color: #0275d8 !important;
}
.sanphamkhac .card {
    height: 360px;
}
.soluong-sanpham {
    width: 40px;
    padding: 0 !important;
    border-radius: 5px;
    margin: 0 1px !important;
    text-align: center;
}


