body {
  background: url("https://c.pxhere.com/photos/19/af/chess_king_match_symbolism-1048937.jpg!d") no-repeat;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.container {
  padding-top: 3rem;
}

.game-title {
  width: 100%;
  text-align: right;
}

.chessgame {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 4rem;
}

.register {
  padding-top: 10rem;
}

#register-input {
  font-size: 1.5rem;
  color: white;
}

.start-game-btn {
  padding-top: 1rem;
  text-align: right;
}

#register-btn {
  font-size: 1.5rem;
}

.pressenter {
  padding-right: 4rem;
  font-size: 1.2rem;
}

.regis-notice {
  height: 200px;
}

.regis-notice h5 {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  color: #a40000;
  letter-spacing: 0.1em;
}

/* GAME ROOM */

.game-room {
  padding: 1rem 15px;
  font-family: "Assistant";
}

.chat--onlineMembers {
  background-color: #ffffff80;
}

.chat-header h5 {
  font-weight: bold;
}

.needpadding {
  padding: 1rem 15px;
}

.chat--sayhi {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100%;
}

.chat--username {
  font-weight: bold;
  color: #00c851;
}

.blankdiv {
  background: transparent;
  height: 20px;
}

.chat--chatbox {
  background-color: #ffffff80;
}

.chat--inputmsg {
  padding: 1rem 15px;
  height: 140px;
}

.chat--msg {
  height: 450px;
}
.msg {
  border-top: 1px solid #bdbdbd !important;
  border-bottom: none !important;
}
.msg:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}
