body {
  background: url("https://c.pxhere.com/photos/19/af/chess_king_match_symbolism-1048937.jpg!d") no-repeat;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.container {
  padding-top: 3rem;
}

.game-title {
  width: 100%;
  text-align: right;
}

.chessgame {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 4rem;
}

.register {
  padding-top: 10rem;
}

#register-input {
  font-size: 1.5rem;
  color: white;
}

.start-game-btn {
  padding-top: 1rem;
  text-align: right;
}

#register-btn {
  font-size: 1.5rem;
}

.pressenter {
  padding-right: 4rem;
  font-size: 1.2rem;
}

.regis-notice {
  height: 200px;
}

.regis-notice h5 {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  color: #a40000;
  letter-spacing: 0.1em;
}

/* GAME ROOM */

.game-room {
  padding: 1rem 15px;
  font-family: "Assistant";
}

.chat--onlineMembers {
  background-color: #ffffff80;
}

.chat-header h5 {
  font-weight: bold;
}

.needpadding {
  padding: 0.5rem 15px;
}

.chat--sayhi {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100%;
}

.chat--username {
  font-weight: bold;
  color: #00c851;
}
.sign-out-btn {
  cursor: pointer;
}
.sign-out-btn:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  animation: 1s ease-in-out;
  -webkit-animation: 1s ease-in-out;
}

.blankdiv {
  background: transparent;
  height: 20px;
}

.chat--chatbox {
  background-color: #ffffff80;
  overflow: scroll;
  padding: 0.5rem 15px;
}

.chat--inputmsg {
  padding: 1rem 15px;
  height: 100px;
}

.chat--msg {
  height: 350px;
  overflow: scroll;
}
.msg {
  border-top: 1px solid #bdbdbd !important;
  border-bottom: none !important;
}
.msg:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.icon-challenge {
  width: 25px;
  cursor: pointer;
}
.icon-challenge:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  animation: 1s ease-in-out;
  -webkit-animation: 1s ease-in-out;
}
.needpadding1 {
  align-items: center;
  margin: 0 !important;
  padding-bottom: 0.5rem;
}
.challengers {
  height: 120px;
  overflow: scroll;
}
.chat--list-title h6 {
  padding: 0 15px;
  font-style: italic;
  font-weight: bold;
  color: #000c;
}
#chat--list-user {
  margin-bottom: 0 !important;
}
.chat--msg-user {
  font-weight: bold;
  margin-bottom: 0.5rem !important;
}
.chat--msg-show {
  font-weight: normal;
  padding-left: 5px;
}

/* CHESS BOARD */
.square {
  width: 12.5%;
  height:90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chess--board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.black--square {
  background-image: url("../images/black_square.jpg");
}
.white--square {
  background-image: url("../images/white_square.jpg");
}
.chess--piece {
  cursor: pointer;
  max-width: 70%;
}
.chess--piece img {
  cursor: pointer;
  width: 100%;
}